.content__blog{
    grid-area: Content;
    @include display(grid, center, center);
    @include Row-Col(  1fr , 30% 1fr );
    @include respond-to(768px){
        flex-direction: column;
        @include display(flex, center, center);
    }
    padding: 0 1em;
    h1{
        font-size: 3em;
        font-weight: 600;
        text-transform: uppercase;
        color: rgba($light-color, 0.6);
    }
}

.posts{
    grid-gap: 5px;
    @include display(grid, center, center);
    @include Row-Col(  1fr 1fr, 1fr 1fr 1fr 1fr  );  
    @include respond-to(1024px){
        flex-direction: column;
        @include display(flex, center, center);
    }
}

