footer{
    grid-area: Footer;
    @include display(flex, center, center);
    color: rgba($light-color, 0.5);
    font-size: 0.8em;
    padding: 0.8em 0;
    p{
      margin: 0;
      padding: 0;
    }
    
  }