.App-header{
    grid-area: Header;
  }
  .content__icon{
    display: none;
    @include respond-to(768px){
      position: absolute;
      @include display(flex, space-evenly, center);
      flex-direction: column;
      width: 35px;
      height: 35px;
      padding: 1.5em;
      bottom: 55px;
      right: 15px;
      border: none;
      border-radius: 25%;
      background-color: $base-color;
    }
    &-menu{
      background-color: white;
      width: 25px;
      height: 5px;
      margin: 2px 0;
    }
  }
  
  .nav__menu{
    background-color: $base-color;
    max-width: 100%;
    margin: 0;
    padding: 0.58em;
    @include display(flex, center, center);
    &-container{
      width: 100%;
      max-width: 1140px;
      @include respond-to(900px){
        max-width: 100%;
        justify-content: center;
      }    
      @include respond-to(1024px){
        max-width: 100%;
      }   
      @include display( flex, space-between, center);
    }
    &-img{
      width: 150px;
      height: auto;
    }
    &-items{
      list-style: none;
      
      text-transform: uppercase;
      
      width: 100%;
      max-width: 500px;
      margin: 0;
      @include display(flex, space-between, center);
      @include respond-to(768px){
        @include display(none, space-between, center);
        flex-direction: column;
        position: absolute;
        bottom: 100px;
        left: 60px;
        width: calc( 100% - 120px);
        height: 200px;
        font-size: 1.5em;
        padding: 0.8em 0;
        border-radius: 2%;
        background-color: $base-color;
      }  
      &.is-active{
        display: flex;
        animation: Appear 2s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      &.is-close{
        display: flex;
        transform: translatex(-500px);
        animation: AppearReverse 2s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
    &-item{
      a{
        @include respond-to(768px){
          text-align: center;
        }  
        font-size: 1em ;
        font-weight: 300;
        color: $light-color;
      }
      &:hover{
        a{
          color: $secondary-color;
          font-weight: 600;
          @include respond-to(768px){
            width: 100%;
            background-color: rgba($light-color,0.5);
          }
        }
      }
    }
  }
  
  @keyframes Appear{
    from{
      opacity: 0;
      transform: translatex(-300px);
    }
    to{
      opacity: 100;
      transform: translatex(0);
    }
  }
  
  @keyframes AppearReverse{
    from{
      opacity: 100;
      transform: translatex(0);
    }
    to{
      opacity: 0;
      transform: translatex(-300px);
    }
  }